.depend
Make.dep
.DS_Store
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
cscope.out
apps/Kconfig
apps/canutils/Kconfig
apps/examples/Kconfig
apps/fsutils/Kconfig
apps/gpsutils/Kconfig
apps/graphics/Kconfig
apps/interpreters/Kconfig
apps/libapps.a
apps/netutils/Kconfig
apps/platform/board
apps/system/Kconfig
apps/testing/Kconfig
apps/wireless/Kconfig
apps/graphics/NxWidgets/Kconfig
nuttx/arch/arm/include/board
nuttx/arch/arm/include/chip
nuttx/arch/arm/src/board
nuttx/arch/arm/src/chip
nuttx/include/apps
nuttx/include/arch
nuttx/include/nuttx/version.h
nuttx/libs/libc/Make_bin.dep
nuttx/mm/Make_bin.dep
nuttx/tools/cnvwindeps
nuttx/tools/mkconfig
nuttx/tools/mkdeps
nuttx/tools/mkversion
.config
.config.old
nuttx/include/nuttx/config.h